/* Общие стили */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1b5e20, #00cc99);
    min-height: 100vh;
    color: #fff;
}

/* Контейнер */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

/* Аватар */
.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

/* Имя */
.name {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Описание */
.description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}

/* Кнопки ссылок */
.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-button {
    display: block;
    background: #fff;
    color: #1b5e20;
    font-size: 1rem;
    border: none; /* Убрана обводка */
    outline: none; /* Убрана темная рамка */
    font-weight: 700;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.link-button:hover {
    background: #66bb6a;
    transform: translateY(-5px);
}

/* Toast уведомление */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.toast p {
    margin: 0;
    padding-right: 10px;
}

.progress-bar {
    height: 5px;
    background-color: #4caf50;
    width: 0;
    border-radius: 5px;
    transition: none;
}
